* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    background-color: #113536;
    color: #e5e5e5;
}

header {
    width: 100%;
    padding: 40px 60px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: #e5e5e5;
    font-size: 24px;
}

.content {
    padding: 80px 60px;
    max-width: 900px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
}

.description {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 60px;
    max-width: 700px;
}

.list {
    position: absolute;
    top: 250px;
    right: 150px;
}

.item {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 40px;
    font-size: 24px;
}

.dot {
    width: 55px;
    height: 55px;
    background-color: #dcdcdc;
    border-radius: 50%;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

.gallery {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.gallery img {
    width: 350px;
    height: auto;
    background-color: white;
    padding: 10px;
}

.left-column img {
    width: 250px;
    height: 183px;
    background-color: white;
    padding: 10px;
}

.gallery-branding {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.gallery-branding img {
    width: 271px;
    height: 383px;
    background-color: white;
    padding: 10px;
}


.dot.active {
    background-color: black;
    border: 4px solid white;
}
